<?xml version="1.0" encoding="UTF-8"?><testData>
	<UserName>auto1458191092351</UserName>
	<Password>Qsg@2015</Password>
	<UserFullName>EdFNauto1458191092351</UserFullName>
	<EmailId>autoemres@outlook.com</EmailId>
	<EmailPassword>qsg2011</EmailPassword>
	<EventName>Event03-23-2016-053156</EventName>
	<EventTemplate>ET06-09-2016-031555</EventTemplate>
	<ResourceName>RS06-09-2016-031555</ResourceName>
	<RoleName1>Role06-09-2016-031555</RoleName1>
	<RoleName2>Role1_03-29-2016-062348</RoleName2>
	<Role1Value>123</Role1Value>
	<Role2Value>17052</Role2Value>
</testData>
